{
  "env": {
    "browser": false,
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "google",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "pject": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "valid-jsdoc": "off",
    "prettier/prettier": "warn"
  }
}
